.admin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("https://msu-new-2023-ec2-ubuntu-unzip.s3.ap-south-1.amazonaws.com/asset/storage/slider/techo.jpg");
  background-size: cover;
  color: white;
}

/* Title */
.title {
  margin-bottom: 20px;
}


/* Buttons */
.button-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 12px 25px;
  width: 220px;

  border: none;
  border-radius: 25px;

  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;

  font-size: 16px;
  font-family: cursive;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

/* Table */
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 90%;
  max-width: 600px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  border-bottom: 1px solid white;
}