.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(to bottom, #8FA9D6 0%, #6F8FC8 50%, #5F80BC 100%);
}

/*Right side Navbar*/

.navbar-right h2 {
    margin: 0;
    font-size: 16px;
    font-family: cursive;
}

/*Left side Navbar*/

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: cursive;

}

.navbar-left a:hover {
    text-decoration: overline;
}

.login-btn {
    font-family: cursive;
    padding: 6px 12px;
    background: white;
    color: black;
    border: 1px black;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background: #0ee9b99c;
    color: white;
}