/* Background same as your project */
.student-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("https://msu-new-2023-ec2-ubuntu-unzip.s3.ap-south-1.amazonaws.com/asset/storage/slider/techo.jpg");
  background-size: cover;
  background-position: center;
}

/* Title */
.title {
  color: white;
  margin-bottom: 30px;
  font-family: cursive;
}

/* Button container */
.button-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Buttons */
.btn {
  padding: 12px 25px;
  width: 220px;

  border: none;
  border-radius: 25px;

  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;

  font-size: 16px;
  font-family: cursive;

  cursor: pointer;
}

/* Hover */
.btn:hover {
  transform: scale(1.05);
}